<h2 class="text-center">{{ user }}'s Shopping List</h2>

<div class="text-center ">
    <h3>Add Items</h3>
    <div class="text-left margin-auto width-255">
        <div>
            <label for="item">Item name </label>
            <input type="text" id="item" [(ngModel)]="name"><br>
        </div>
        <div class="pt-10">
            <label for="qty">Quantity </label>
            <input type="number" id="qty" [(ngModel)]="qty"><br>
        </div>
        <div class="pt-10">
            <label for="price">Price per item $</label>
            <input type="number" id="price" [(ngModel)]="price"><br>
        </div>
        <div class="text-right pt-10"><button (click)="addItem()">Add Item</button></div>
    </div>
</div>

<div *ngFor="let item of items">
    <div>{{item.name}} - {{item.qty}} - {{item.price}} <button (click)=removeItem(item.id)>Remove</button></div>
</div>