<div class="component pb-30">
    <h2 class="text-center pt-10">{{ user }}'s Shopping List</h2>

    <div class="text-center">
        <h3>Add Items</h3>
        <div class="text-left margin-auto width-255">
            <!-- Item Name Input -->
            <div>
                <label for="item">Item name </label>
                <input type="text" id="item" [(ngModel)]="name"><br>
            </div>
            <!-- Quantity Input -->
            <div class="pt-10">
                <label for="qty">Quantity </label>
                <input type="number" id="qty" [(ngModel)]="qty"><br>
            </div>
            <!-- Price Input -->
            <div class="pt-10">
                <label for="price">Price per item $</label>
                <input type="number" id="price" [(ngModel)]="price"><br>
            </div>
            <!-- Add Item Button -->
            <div class="text-right pt-10"><button (click)="addItem()">Add Item</button></div>
        </div>
    </div>


    <!-- TABLE OF SHOPPING ITEMS-->
    <table mat-table [dataSource]="items" class="mat-elevation-z8">
        <!-- Item Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let item"> {{ item.name | titlecase }} </td>
            <td mat-footer-cell *matFooterCellDef> Grand Total </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price per Item </th>
            <td mat-cell *matCellDef="let item"> {{item.price | currency}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let item"> {{ item.qty }} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Total Price per specific Item Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef id="total-column"> Total </th>
            <td mat-cell *matCellDef="let item"> {{item.price * item.qty | currency}} </td>
            <!-- Displays the grand total of all items at bottom -->
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
        </ng-container>

        <!-- Remove Item Column -->
        <ng-container matColumnDef="remove">
            <th mat-header-cell *matHeaderCellDef> Remove </th>
            <td mat-cell *matCellDef="let item">
                <!-- Remove Item Button Icon -->
                <button mat-icon-button color="warn" aria-label="delete icon">
                    <mat-icon (click)=removeItem(item.id)>delete</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
</div>
