<div class="component auth-div">
    <h1 class="text-center pt-10">Sign Up</h1>
    <form class="pb-30">
        <div class="text-left margin-auto width-255">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" [(ngModel)]="username"><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" [(ngModel)]="password">
            
            <button (click)="signup()">Submit</button>

            <p class="pt-10">Existing user? Click <a routerLink='/login'>here</a> to login </p>
        </div>
    </form>
</div>

